<nav class="navbar navbar-expand-lg navbar-light bg-primary">

    <a class="navbar-brand" href="#">
        <img src="/assets/img/A-64.png" width="40" height="35" alt="">
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#!home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!heroes">Heroes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!about">About</a>
        </li>
    </ul>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" ng-model="search" ng-change='getText()' placeholder="Buscar heroe">
        <a class="btn btn-dark" href="#!buscador/{{text}}">Buscar</a>
    </form>
</nav>


